<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spark.feed.repository.FeedMapper">

    <resultMap id="feedResultMap" type="com.spark.feed.model.Feed">
        <result column="feed_no" property="feedNo"/>
        <result column="feed_content" property="feedContent"/>
        <result column="feed_url" property="feedURL"/>
        <result column="feed_regist_date" property="registDate"/>
        <result column="feed_modify_date" property="modifyDate"/>
        <result column="feed_id" property="memId"/>
        <result column="feed_status" property="status"/>
        <result column="feed_like" property="feedLike"/>
        <result column="MEM_PROFILE" property="proFile"/>
        <result column="MEM_AGE" property="age"/>
        <result column="MEM_NICKNAME" property="nickName"/>
    </resultMap>

    <resultMap id="commentResultMap" type="com.spark.feed.model.Comment">
        <result column="com_no" property="comNo"/>
        <result column="feed_no" property="feedNo"/>
        <result column="com_content" property="comContent"/>
        <result column="com_type" property="comType"/>
        <result column="com_ref" property="comRef"/>
        <result column="com_regist_date" property="registDate"/>
        <result column="com_id" property="memId"/>
        <result column="MEM_PROFILE" property="proFile"/>
        <result column="MEM_AGE" property="age"/>
        <result column="MEM_NICKNAME" property="nickName"/>
    </resultMap>


    <!-- 피드 목록 불러오기 -->

    <select id="feedList" resultMap="feedResultMap">
        select feed_no
             , feed_content
             , feed_url
             , feed_regist_date
             , feed_id
             , feed_status
             , feed_like
        from feed
    </select>

    <!-- 피드 상세보기 -->
    <select id="feedDetail" resultMap="feedResultMap">
        select feed_no
             , feed_content
             , feed_url
             , feed_regist_date
             , feed_id
             , feed_status
             , feed_like
             , mem_profile
             , mem_age
             , mem_nickname
        from feed f
                 join member m on m.mem_Id = f.feed_id
        where feed_no = #{feedNo}
    </select>

    <!-- 피드 댓글 불러오기 -->
    <select id="feedComment" resultMap="commentResultMap">
        select com_no
             , feed_no
             , com_content
             , com_type
             , com_ref
             , com_regist_date
             , com_id
             , mem_profile
             , mem_age
             , mem_nickname
        from comment c
                 join member m on m.mem_Id = c.com_id
        where feed_no = #{feedNo}
    </select>

    <!-- 피드 생성 -->
    <insert id="createFeed">
        insert
        into feed
        ( feed_content
        , feed_url
        , feed_id
        , feed_status)
        values ( #{feedContent}
               , #{feedURL}
               , #{feedId}
               , #{status})
    </insert>

    <!-- 피드 첨부파일 확인 -->
    <select id="searchURL" resultType="string">
        select feed_url
        from feed
        where feed_no = #{feedNo}

    </select>

    <!-- 피드 삭제 -->
    <delete id="deleteFeed">
        delete
        from feed
        where feed_no = #{feedNo}
    </delete>


    <!-- 피드 url 체크 -->
    <select id="feedUrlCheck" resultType="string">
        select feed_url
        from feed
        where feed_no = #{feedNo}
    </select>

    <!-- 댓글 등록 -->
    <insert id="comment">
        insert
        into comment
        ( feed_no
        , com_content
        , com_type
        , com_id)
        values ( #{feedNo}
               , #{com_content}
               , #{comType}
               , #{memId})
    </insert>

    <!-- 대댓글 작성 -->
    <insert id="replycomment">
        insert
        into comment
        ( feed_no
        , com_content
        , com_type
        , com_ref
        , com_id)
        values ( #{feedNo}
               , #{comContent}
               , #{comType}
               , #{comNo}
               , #{memId})

    </insert>


</mapper>
