<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sp.boot.mapper.FeedMapper">

	<resultMap id="feedResultMap" type="feedDto">
		<result column="feed_no" property="feedNo" />
		<result column="feed_content" property="feedContent" />
		<result column="feed_url" property="feedURL" />
		<result column="feed_regist_date" property="RegistDate" />
		<result column="feed_modify_date" property="modifyDate" />
		<result column="feed_id" property="feedId" />
		<result column="feed_status" property="status" />
		<result column="feed_like" property="likeCount" />
	</resultMap>




<!-- 피드 목록 불러오기 -->

<select id="feedList" resultMap="feedResultMap">
select
			 *
  from
  		 feed
</select>













</mapper>
