<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sp.boot.mapper.MemberMapper">

	<resultMap id="memberResultMap" type="MemberDto">
		<result column="mem_Id" property="memId" />
		<result column="mem_pwd" property="memPwd" />
	</resultMap>



<!-- 로그인 -->
<select id="loginMember" resultMap="memberResultMap">

select
				mem_id
		 ,  mem_pwd
  from
  		  member
 where
 				mem_id = #{memId}
 	 and	mem_pwd = #{memPwd}
				


</select>

<!-- 유효성 검사후 멤버값 리턴 -->
<select id="loginUserInfo" resultMap="memberResultMap">

select
				mem_id
		 ,  mem_pwd
  from
  		  member
 where
 				mem_id = #{memId}
				


</select>



</mapper>